h1, h2, h3, h4, h5 {
    color: #03a9f4;
}

body {
    background-color: rgba(218, 237, 255, 1);
    padding-bottom: 5em;
}

.navbar-bia {
    background-color: rgba(149, 198, 236, 1);
    padding-top: 20px;
}

.chapter-heading {
    color: rgb(57, 114, 155);
    font: normal normal normal 21px/1.3em Verdana,geneva,sans-serif;
    text-align: left;
    padding-top: 30px;
}